#body {
	background-color: #eee;
}

#wrapper, #footer {
	width: 980px;
	margin: 10px auto 0 auto;
	font: 14px helvetica;
	letter-spacing: 1px;
}

#wrapper {
	overflow: auto;
	border-left: 1px solid #999;
	border-right: 1px solid #999;
	border-bottom: 1px solid #999;
	background-color: white;
}

#header {
	float: left;
	height: 100px;
	width: 980px;
	border-top: 1px solid #999;
}

#header h1{
	font: 24px helvetica;
	text-align: center;
	letter-spacing: .2em;
	margin: 15px 0px 0px 0px;
}

#mainbody {
	float: left;
	margin: 0px 25px 25px 25px;
}

h2{
	font: 20px helvetica;
	text-align: center;
	letter-spacing: .15em;
	margin-top: 35px;
	padding-bottom: 5px;
	border-bottom: 1px solid #d0d0d0;
}

p {
	margin: 10px 50px 75px 50px;
}


img {
  object-fit: cover;
  margin: 5px;
  padding: 10px;
  text-align:center;
  display:block;
  margin:auto;
}